/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


html {
    font-family: Archivo Narrow, Calibri, Trebuchet, sans-serif;
}

body{
  background-color:white;
  color:#8d8d8d;
  font-size:20px;

}

h4{
  background-color:#760000;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
}
.specialness {
  background-image: url("maps.png");
}
.custom-red{
  color:#760000;
}
.custom-red-background{
  background-color:#760000;
}
.custom-red-background:hover{
  background-color:#666;
  color:white;
}
.first{
  padding-top:250px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo-img {
  height:60px;
}

.custom-nav-gray{
  color:#bdbdbd;

}
.custom-nav-gray:hover{
  color:white;
}
.nav-color-change{
  background-color:#760000;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-color{
  background-color:#760000 !important;
}
.img-maps{
  width:100%;
}
.location{
  margin-top:0px;
  margin-bottom:0px;
}
.center h5{
  margin-bottom:5px;
}
.center h5:hover{
  color:#760000;
}
.locations-group{
  margin-top:20px;
}
a {
  color:#760000; 
  text-decoration: none;
}
a:hover{
  color:#dadada;
}
.light img{
  width:700px;
  margin: auto;
}
.affiliate-img img{
  width:100%
}
h5 .new-head{
  text-align: left;
}
.affiliate-img img{
  width:100%;
}

.about-affiliation img{
  width:100%;
}
.footer-copyright{
  font-size: 16px;
  padding-left:215px;
}
.footer-copyright a{
  color:gray;
}
.footer-copyright a:hover{
  color:white;
}

